.ba-section-contact{
	background: #fff;
	padding: 77px 0 0;
	.ba-title{
		color: #333b46;
		font-family: "Source Sans Pro";
		font-weight: 300;
		text-transform: uppercase;
		letter-spacing: 4px;
		text-align: center;
		margin-bottom: 41px;
	}

	.ba-subtitle{
		max-width: 457px;
		font-size: 14px;
		color: #81868e;
		font-family: Open Sans;
		font-weight: 400;
		letter-spacing: 0.7px;
		text-align: center;
		margin: 0 auto;
		margin-bottom: 71px;
	}

	.ba-map{
		height: 439px;
		width: 100%;
		display: block;
	}
}